.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}
.screen-header__title{
    font-size: 32px;
    font-weight: 600;;
}
.screen-header__icons span{
    margin-left: 25px;
}
.screen-header__nontification{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    color: rgba(0, 0, 0, 0.0);
    position: absolute;
    left: 727px;
    top: 70px
}
